.container {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    border-color: rgba(73, 72, 72, 0.578);
    margin-top: 10vh;
     padding: 20px
}
.digits {
    font-size: 20px;
    width: 100px;
    margin-top: 10px;
}
